.head {
  background-color: #042c70;
  width: 100%;
  height: 90px;
  display:flex;
  justify-content: space-between;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
  color: #333;
}

.beta-version{
  margin-right: 150px;
  list-style: none;
  margin-top: 40px;
  font-weight: 900;
  color: #fff;
  background-color: #042c70;
  font-family:sans-serif;
  cursor:pointer;
}
.head a{
  text-decoration: none;
}
body {
  margin: 0;
}
.sidebarlogo {
  margin-left: 70px;
  width: 100px;
  height: 90px;
}
.modal-content {
  background: #042c70;
}
.headingone{
    color: #042c70 !important;
    font-size: 80px;
    font-size: 5rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.headingTwo {
  text-align: center;
  font-size: 50px;
  font-size: 3.5rem;
  color: #042c70;
}
.para-text{
  color: #042c70 !important;
  text-align: center;
}
.texting{
  text-align: center;
  color: #042c70;
}
.btn-login{
  text-align: center;
  color: #042c70 !important;
}
.heading {
  color: var(--primary);
  font-size: 48px !important;

}
.quizWindow{
  display: none;
}

.beta-text-two{
  text-decoration: none;
  color: #fff;
}
.btns:hover {
  background-color:#042c70;
}

.login_head {
  color: #333;
}

.seperation {
  height: 1px;
  background-color: #dee2e6;
}

.course_content p {
  font-size: 18px;
}

table {
  table-layout: fixed;
  width: 80% !important;

}

th,
td {
  width: 50%;
  text-align: left;
  padding: 10px;
  border-width: 1px !important;
}

.table_heading {
  background-color: #042c70;
  color: var(--overtext);
}

.question {
  background-color:#042c70;
  color: white;
}

.no_quest h4 {
  color: #042c70;
  font-size: 22px !important;
}

.no_corre h4 {
  color: #042c70;
  font-size: 22px !important;
}

.counts {
  font-size: 18px !important;
}

.percentage {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.resultWindow {
  display: none;
}
.next-btn{
  background-color: #042c70;
  color: #fff;
  height: 40px;
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 5px;
}

.btns {
  background-color: #042c70;
  color: #fff;
  height: 40px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 5px;
  text-decoration: none;
}
@media (max-width: 767px) {
  .heading2 {
      font-size: 28px !important;
  }

  .heading {
      font-size: 32px;
  }

  .course_content p {
      font-size: 16px;
  }

  .no_quest h4 {
      font-size: 18px !important;
  }

  .no_corre h4 {
      color: #042c70;
      font-size: 18px !important;
  }

  .counts {
      font-size: 18px !important;
  }

  .question {
      font-size: 16px;
  }

  .form-check-label {
      font-size: 14px !important;
  }

}
@media (min-width: 768px) and (max-width: 1023px) {
  .heading {
      font-size: 40px !important;
  }

  .course_content p {
      font-size: 17px;
  }
}

img {
  width: 50px;
  height: 50px;
}
